.box{
    
    width: 400px;
    height: 300px;
    background-color: rgb(8, 8, 8);
    margin: auto;
    margin-top:14%;
    border-style: dashed;
    color: rgb(204, 13, 13);
}
body{
    background: url(https://wallpapercave.com/wp/wp1844003.jpg);
}
